.steps-banner {
  padding: 0rem 6.5rem;
  margin-top: 4rem;
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  background-color: #fffef2;
}
.steps-banner .banner-heading {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 1rem;
}
.steps-banner .banner-info {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.steps-banner .banner-text {
  width: 50%;
}
.steps-banner .banner-image {
  width: 50%;
}
.supply-banner-image {
  width: 90%;
}
