.navbar {
  background-color: #fbdc00;
  font-size: 14px;
  padding: 0.6rem 6.5rem;
}
.navbar-content {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin: auto;
}
.logo {
  display: flex;
}
#logo-image {
  width: 8rem;
}
.options-list {
  display: flex;
  padding: 0.5rem;
}
.options > ul > li {
  display: inline-block;
  padding: 0.5rem;
}

.login-signup {
  display: flex;
  align-items: center;
}
.login-signup > div {
  padding: 0.8rem;
}
#login-icon {
  font-size: 1.1rem;
}
.signup-button {
  padding: 0.5rem 0.8rem;
  border: 1px solid red;
  border-radius: 8px;
  background-color: red;
  color: white;
  font-weight: 600;
}
