.ready {
  padding: 1rem 6.5rem;
  background-color: #fbdc00;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.get-started-btn {
  background-color: red;
  padding: 0.6rem 1.5rem;
  color: white;
  border: 1px solid #ff0000;
  border-radius: 8px;
  font-weight: 700;
  margin: 1rem 0rem;
}
.ready-title {
  font-size: 28px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 0;
}
